.container {
  width: 80%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 75px;
}

.rightImage {
  width: 50%;
  margin-right: 75px;
}

.image {
  width: 50%;
}

/* Add styling for Typography if needed, for example: */
.typography {
  flex: 1;
  padding: 20px 20px 20px 20px; /* Adjust padding as needed */
}

.text {
  margin-right: 100px;
  margin-left: 100px;
}

.text5 {
  align-self: flex-start;
  margin-top: 10px;
  padding-top: 120px;
}
