html,
body {
  margin: 0;
  padding: 0;
}

/* This will hide scrollbar for the whole body */
body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 5vh;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 60px;
}
